@charset "UTF-8";
html,
body{
  margin: 0;
  padding: 0;
}
.f-container{
  height: 100vh; /* for shorter content */
  display: flex;
  flex-direction: column;
    
  /*ie10*/
  display: -ms-flexbox;
  -ms-flex-direction: column;
}

.main{
  background-color: #fff;
  flex: 1;
  
  /*ie10*/
  -ms-flex: 1 1 auto; /*needs both shrink and grow*/
}

header,
footer{
  background-color: #f1f1f1;
  flex-basis: 50px;
  
  /*ie10*/
  -ms-flex-preferred-size: 50px;
  
  /*center align of links*/
  display: flex;
  align-items: center; /*vertical*/
  justify-content: space-around; /*or space-between*/
  /*ie10*/
  display: -ms-flexbox;
  -ms-flex-align: center; /*vertical*/
  -ms-flex-line-pack: distribute; /*or justify*/
}

footer {
  /*ie10 short content*/
  margin-top: auto; 
}
header a{
  /*ie10*/ 
  /*hack to trigger the layout for horizontal alignment distribute/justify*/
  display: inline-block;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
/*  border-radius: 4px;*/
  cursor: pointer;
}
/* fixed header and footer with scrollable main section */
.fixed-hf .main{
  overflow-y: auto;
}


header a.active {
  background-color: #009de7;
  color: white;
}
header a.register {
  background-color: #008000;
  color: white;
}
header a.logout {
  background-color: #804040;
  color: white;
}
header input{
  /*ie10*/ 
  /*hack to trigger the layout for horizontal alignment distribute/justify*/
  display: inline-block;
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
}
header img{
  width: 40px;
}
.orderbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #008000;
}
.cancelorderbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #bb0000;
}
a.pointer {
	cursor: pointer;
}
a.home {
	padding: 0px;
}



.book-table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
/*	height: 90%;*/
}
.bookinfo-table {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
/*	height: 90%;*/
}
.order-table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
/*	height: 90%;*/
}
.pagination-table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
tr {
	height: 30px;
}
tr.books {
	height: 118px;
  background-color: #fafafa;
}
tr.orders {
  background-color: #fafafa;
}
tr.orders-fined {
  background-color: #ffcaca;
}
tr.orders-active {
  background-color: #caffca;
}
tr.orders-inactive {
  background-color: #f0f0f0;
  color: #808080;
}
tr.books-header {
	line-height: 30px;
  background-color: #dddddd;
}
tr.order-info {
	line-height: 60px;
  background-color: #dddddd;
}
tr.order-info-fined {
	line-height: 60px;
  background-color: #ffcaca;
}
td.right {
	text-align: right;
}
td.right-field {
	text-align: right;
	width: 10%;
}
td.center {
	text-align: center;
}
td.year {
	text-align: center;
	width: 5%;
}
td.author{
	text-align: center;
	width: 18%;
}
td.publication {
	text-align: center;
	width: 15%;
}
td.button {
	text-align: center;
	width: 12%;
}
td.title {
	text-align: center;
	width: 50%;
}
td.order {
    padding: 6px 11px;
}
td.order-right {
	text-align: right;
	padding: 6px 11px;
}
button.givebook-active {
	background-color: #008000;
}
button.cancelorder {
	background-color: #bb0000;
}

a.menu {
	text-decoration: underline;
	color: #004080;
}
.left {
	padding-left: 10px;
}
.blocked-account {
	color: #bb0000;
}
input.number-field,
input.datalist-field {
	height: 36px; 
	width: 600px; 
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 20px; 
	border: 1px solid #ccc;	
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bfbfbf;
  opacity: 1; /* Firefox */
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}
.noHover{
    pointer-events: none;
}

.full-width {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
}

.pass-center {
	text-align: center;
}
.modal-error {
        display: block;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
    }



    /*assign full width inputs*/
    input[type=email],
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
   
    /*set a style for the buttons*/
    button {
        background-color: #009de7;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
    button.book {
        background-color: #009de7;
        color: white;
        padding: 14px 50px;
        margin: 8px 32px;
        border: none;
        cursor: pointer;
        width: 92%;
    }
    button.changebook {
        background-color: #008000;
        color: white;
        padding: 14px 50px;
        margin: 8px 32px;
        border: none;
        cursor: pointer;
        width: 92%;
    }
    button.deletebook {
        background-color: #bb0000;
        color: white;
        padding: 14px 50px;
        margin: 8px 32px;
        border: none;
        cursor: pointer;
        width: 92%;
    }
    button.deleteuser {
	  width: auto;
  	  padding: 10px 18px;
  	  background-color: #bb0000;
      cursor: pointer;
    }
    button.unblockuser {
	  width: auto;
  	  padding: 10px 18px;
  	  background-color: #008000;
      cursor: pointer;
    }
   
    /* set a hover effect for the button*/
    button:hover {
        opacity: 0.8;
    }
   
    /*set extra style for the cancel button*/
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #bb0000;
    }
    .errorbtn {
        background-color: #bb0000;
    }
    .infobtn {
        background-color: #008000;
    }
   
    /*set padding to the container*/
    .container {
        padding: 16px;
    }
    .container-button {
        padding: 6px 92px;
    }
    .container-message {
        padding: 16px;
        background-color:#f1f1f1;
    }
     
    /*set the forgot password text*/
    span.psw {
        float: right;
        padding-top: 16px;
        color: green;
        text-decoration: underline;
    }
   
    /*set the Modal background*/
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
    }
   
    /*style the model content box*/
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto auto auto;
        border: 1px solid #888;
        width: 20%;
    }
   
    .modal-content-reg {
        background-color: #fefefe;
        margin: 5% auto auto auto;
        border: 1px solid #888;
        width: 20%;
    }
   
    .modal-content-userinfo {
        background-color: #fefefe;
        margin: 2% auto auto auto;
        border: 1px solid #888;
        width: 24%;
    }
   
    .modal-content-orderinfo {
        background-color: #f1f1f1;
        margin: 1% auto auto auto;
        border: 1px solid #888;
        width: 60%;
  font-size: 18px;
  line-height: 20px;
    }
    .modal-content-readerinfo {
        margin: 1% auto auto auto;
        width: 60%;
  font-size: 18px;
  line-height: 20px;
    }
    .modal-content-bookinfo {
        background-color: #fafafa;
        margin: 2% auto auto auto;
        border: 1px solid #888;
        width: 50%;
    }
   

    /*style the close button*/
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }
     
    .close:hover,
    .close:focus {
        color: #bb0000;
        cursor: pointer;
    }

    
    
    
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: -45px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}    