@charset "UTF-8";
html,
body{
  margin: 0;
  padding: 0;
}
.f-container{
  height: 100vh; /* for shorter content */
  display: flex;
  flex-direction: column;
    
  /*ie10*/
  display: -ms-flexbox;
  -ms-flex-direction: column;
}

.main{
  background-color: #fff;
  flex: 1;
  
  /*ie10*/
  -ms-flex: 1 1 auto; /*needs both shrink and grow*/
}

header,
footer{
  background-color: #f1f1f1;
  flex-basis: 50px;
  
  /*ie10*/
  -ms-flex-preferred-size: 50px;
  
  /*center align of links*/
  display: flex;
  align-items: center; /*vertical*/
  justify-content: space-around; /*or space-between*/
  /*ie10*/
  display: -ms-flexbox;
  -ms-flex-align: center; /*vertical*/
  -ms-flex-line-pack: distribute; /*or justify*/
}

footer {
  /*ie10 short content*/
  margin-top: auto; 
}
header a{
  /*ie10*/ 
  /*hack to trigger the layout for horizontal alignment distribute/justify*/
  display: inline-block;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
/*  border-radius: 4px;*/
  cursor: pointer;
}
/* fixed header and footer with scrollable main section */
.fixed-hf .main{
  overflow-y: auto;
}


header a.active {
  background-color: #009de7;
  color: white;
}
header a.logout {
  background-color: #804040;
  color: white;
}
header input{
  /*ie10*/ 
  /*hack to trigger the layout for horizontal alignment distribute/justify*/
  display: inline-block;
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  width: 100%;
}
header img{
  width: 40px;
}
.orderbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #008000;
}



.book-table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
/*	height: 90%;*/
}
.pagination-table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
tr.books {
	height: 120px;
  background-color: #fafafa;
}
tr.books-header {
	line-height: 30px;
  background-color: #dddddd;
}
td.right {
	text-align: right;
}
td.center {
	text-align: center;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.noHover{
    pointer-events: none;
}

    /*assign full width inputs*/
    input[type=email],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
   
    /*set a style for the buttons*/
    button {
        background-color: #009de7;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }
   
    /* set a hover effect for the button*/
    button:hover {
        opacity: 0.8;
    }
   
    /*set extra style for the cancel button*/
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }
   
    /*set padding to the container*/
    .container {
        padding: 16px;
    }
     
    /*set the forgot password text*/
    span.psw {
        float: right;
        padding-top: 16px;
    }
   
    /*set the Modal background*/
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
    }
   
    /*style the model content box*/
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto auto auto;
        border: 1px solid #888;
        width: 20%;
    }
   
    /*style the close button*/
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }
     
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
